h2{
    margin-top: 2m;
}
dt{
    float: left;
    clear: left;
    width: 15ex;
    font-weight: bold;
}
dd{
    float: left;
    margin-left: 0;
}
dl:after{
    content: "";
    display: block;
    clear: both;
}