h2{
    margin-top: 2m;
}
dt{
    float: left;
    clear: left;
    width: 15ex;
    font-weight: bold;
}
dd{
    float: left;
    margin-left: 0;
}
dl:after{
    content: "";
    display: block;
    clear: both;
}
input {
    padding: 5px;
    border: thin solid #999;
  }
  input.ng-touched.ng-valid {
    border-left: thick solid #0c0;
  }
  input.ng-touched.ng-invalid {
    border-left: thick solid #c00;
  }
  label {
    float: left; width: 5em;
    padding-top: 2px;
  }